// 嵌套
#banner {
    .nav {
        float: left;       
    }
    .img {
        position: absolute;
    }
}
//定义变量
$fontsize: 12px;
$wid: 100px;
div {
    font-size: $fontsize;
    width: $wid;
    height: $wid/2;
}





