$fontsize: 14px;
html,
body {
    font-size: $fontsize;
}

@mixin opacity($val) {
    opacity: $val/100;
    filter: alpha(opacity=$val);
}

@mixin float($dir: left, $support-ie: false) {
    float: $dir;
    @if $support-ie {
        *zoom: 1;
        *display: block;
    }    
}
